doctype html
html
    head
        title Task 3
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        style(type="text/css").
            canvas {
                border: 1px solid black;
            }
    body
        canvas#canvas(width="300" height="300")
        script(src="./task3.js")
    
