doctype html
html
    head
        title Task1
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        div#clock.text-center
        script(src="./task1.js")
