doctype html
html
    head
        title Task 3
        // build:js js/task3.min.js
        script(src="../js/task3.js")
        // endbuild
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        style(type="text/css").
            canvas {
                border: 1px solid black;
            }
    body
        canvas#canvas(width="300" height="300")
        
    
