doctype html
html
    head
        title Task1
        // build:js js/task1.min.js
        script(src="../js/task1.js")
        // endbuild
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        div#clock.text-center
        
